.dataSection{
    width: 1000px;
    padding: 20px 40px;
    margin: 0 80px;
}
.dataFilters{
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.dataFilters p{
    font-size: 20px;
    font-weight: 500;
}
#price{
    outline: 0;
    border: none;
    box-shadow: 0 0 2px black;
    padding: 5px 10px;
}
.poxos{
    color: red;
    font-size: 20px;
}